<div class="row">
  <div class="col-md-12">
    <label for="typeahead-basic">Search for a user:</label>
    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
  </div>
  <!--<div class="col-md-12">
    <label for="typeahead-basic">Search for a user:</label>
    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
  </div>-->
</div>
<br>
<br>
<hr>
<div class="row">
  <div class="col-md-12">
    <card cardTitle="Data Table">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>TRAINING</th>
          <th>DESCRIPTION</th>
          <th>SKILL</th>
          <th>ADD USER TO TRAINING</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of trainingManagementData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
          <td>{{item.trainingTitle}}</td>
          <td>{{item.trainingDescription}}</td>
          <td>{{item.trainingSkill}}</td>
          <td>
            <button class="btn btn-primary" (click)="addTraining(model, item.trainingTitle, item.trainingSkill)">Add Training</button>
          </td>
        </tr>
        </tbody>
      </table>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                               autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                               screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Per Page</span>
          </div>
        </div>
      </form>
    </card>
  </div>
</div>

